.env
aiass/
aiass3.9/
model/
model_heavy/
models/
.rasa
__pycache__/
*.wav
*.zip
exp_files/aiass/
exp_files/rasa_env/

exp_files/my_ass/rasa_env/
exp_files/vosk-model-en-us-0.22.zip
exp_files/aiass/bin/srt-mux

*.onnx
voice_assistant/venv/
vosk-model-small-en-in-0.4/
rasa_env/
rasa_39/
venv_39/
voice_assistant/app/modules/intent/rasa_models/
